<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <link rel="stylesheet" href="style.css">-->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Coding Assessment - Shoalter Automation</title>
</head>
<body>
<div>
    <h1>Li-Yun Wang</h1>
</div>

<form align="center" id="period" action="/filterdata" method="get">
    <input type="text" name="StartDate" placeholder="20210101 (Y/M/D)">
    <input type="text" name="EndDate" placeholder="20231231 (Y/M/D)">
    <button>Search</button>
</form>

<div align="center">

    <table>
        <thead>
        <tr border="1">
            <th> UID </th>
            <th> Start Date </th>
            <th> End Date </th>
            <th> Summary </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${holidays.empty}">
            <td colspan="2"> No Holiday Data Available </td>
        </tr>
        <tr th:each="holiday : ${holidays}">
            <td><span th:text="${holiday.uid}"> UID </span></td>
            <td><span th:text="${holiday.dtstart}"> Start Date </span></td>
            <td><span th:text="${holiday.dtend}"> End Date </span></td>
            <td><span th:text="${holiday.summary}"> Summary </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
