<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<p th:text="'This is the text.' + ${uid} + ' ' + ${dtstart} + ' ' + ${dtend} + ' ' + ${summary}">-->


<form id="msgForm" action="/getdata" method="get">
    <button>Get Data</button>
</form>
<!--&lt;!&ndash;<form method="get" href="${pageContext.servletContext.contextPath}/projects">&ndash;&gt;-->
<!--    <button href="${pageContext.servletContext.contextPath}/projects">Enter</button>-->
<!--</form>-->
<!--</form>-->

<!--<form id="msgForm" action="">-->
<!--&lt;!&ndash;    <input type="text" name="user" placeholder="Enter name...">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="msg" placeholder="Enter message...">&ndash;&gt;-->
<!--    <button>Enter</button>-->
<!--</form>-->
<!--<div id="messages">-->
<!--<form>-->

<!--    <div><input query ></div>-->
<!--</form>-->
</body>
</html>